
.App{
  display: block;
  width: 100%;
}
.das{
  display: flex;
}
.ul{
  width: 50%;
  border: 2px solid red;

}
.ur{
  width: 50%;
  border: 2px solid red;

}
.foot{
  width: 100%;
  border: 2px solid red;
}